div.post-meta, div.content {
  h2, h3, h4 {
    border-top: 50px solid transparent;
    margin-top: -50px;
  }
  dl {
    dd {
      margin-left: 2rem;
    }
  }
  .table-wrapper {
    table {
      margin: 0 auto;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
    tbody tr td {
      white-space: pre-wrap;
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  iframe.gmap {
    border: 0;
    display: block;
    margin: 0 auto;
    border-radius: 0.7rem;
  }
  a.apply-border > img {
    border: solid 1.5px var(--img-border-color);
    border-radius: .7rem;
  }
  a.footnote {
    border-top: 50px solid transparent;
    margin-top: -50px;
    @media screen and (max-width: 768px) {
      border-top: 100px solid transparent;
      margin-top: -100px;
    }
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  .footnotes > ol > li > p {
    border-top: 50px solid transparent;
    margin-top: -50px;
    @media screen and (max-width: 768px) {
      border-top: 100px solid transparent;
      margin-top: -100px;
    }
  }
  a.reversefootnote {
    &:before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        padding-inline-start: 0.1em;
        margin-left: 0.1rem;
        background-size: 100%;
        -webkit-mask: url("../../assets/img/svg/arrow-u-right-up-bold-svgrepo-com.svg") no-repeat 50% 50%;
        mask: url("../../assets/img/svg/arrow-u-right-up-bold-svgrepo-com.svg") no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: currentColor;
        bottom: -0.18em;
        line-height: 1;
        position: relative;
    }
  }
  ol li.series-current-page {
    font-weight: bold;
    // color: var(--link-hover-color);
  }
  ol li.series-neighbor-page {

  }
  div.extra-link {
    a:is([href^='http'],[href^='/']):not(.Link--inTextBlock, .link-preview-container):not(:has(img)) {
      &::after {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        padding-inline-start: 0.1em;
        margin-left: 0.1rem;
        background-size: 100%;
        -webkit-mask: url("../../assets/img/svg/arrow-up-right-alt-svgrepo-com.svg") no-repeat 50% 50%;
        mask: url("../../assets/img/svg/arrow-up-right-alt-svgrepo-com.svg") no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: currentColor;
        bottom: -0.18em;
        line-height: 1;
        position: relative;
      }
    }
  }
  mjx-container {
    overflow-x: scroll;
  }
}
