{% comment %}

  Convert the alias of the syntax language to the official name

  See: <https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers>

{% endcomment %}

{% assign _lang = include.label_lang | default: '' | downcase | strip %}
{% case _lang %}
  {% when 'cs', 'csharp', 'c#' %}
   {{ 'devicon-csharp-plain' }}
  {% when 'java' %}
    {{ 'devicon-java-plain' }}
  {% when 'javascript', 'js' %}
    {{ 'devicon-javascript-plain' }}
  {% when 'make', 'mf', 'gnumake', 'bsdmake', 'makefile' %}
    {{ 'devicon-cmake-plain' }}
  {% when 'md', 'mkd', 'markdown' %}
    {{ 'devicon-markdown-original' }}
  {% when 'php' %}
    {{ 'devicon-python-plain' }}
  {% when 'python', 'py' %}
    {{ 'devicon-python-plain' }}
  {% when 'ruby', 'rb' %}
    {{ 'devicon-ruby-plain' }}
  {% when 'rust' %}
    {{ 'devicon-rust-original' }}
  {% when 'go', 'golang' %}
    {{ 'devicon-go-original-wordmark' }}
  {% when 'bash', 'zsh', 'ksh', 'sh', 'shell' %}
    {{ 'devicon-bash-plain' }}
  {% when 'sql' %}
    {{ 'fa-solid fa-database'}}
  {% when 'terraform', 'tf' %}
    {{ 'devicon-terraform-plain' }}
  {% when 'ts', 'typescript' %}
    {{ 'devicon-typescript-plain' }}
  {% when 'yml', 'yaml' %}
    {{ 'devicon-yaml-plain' }}
  {% when 'json' %}
    {{ 'devicon-json-plain' }}
  {% when 'xml' %}
    {{ 'devicon-xml-plain' }}
  {% when 'plaintext', 'text' %}
    {{ 'fa-solid fa-file-lines' }}
  {% when 'html' %}
    {{ 'devicon-html5-plain' }}
  {% when 'css' %}
    {{ 'devicon-css3-plain' }}
  {% when 'scss', 'sass' %}
    {{ 'devicon-sass-original' }}
  {% when 'ssh' %}
    {{ 'devicon-ssh-original' }}
{% endcase %}
