.tab {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  scrollbar-width: none;
  /*margin-left: -20px;*/
  padding: 0;
  padding-left: 0.5rem;
  list-style: none;
  position: relative;
  /* font-weight: bold; */
  margin-bottom: 0;
  border: 1px solid var(--main-border-color);
  border-radius: 0.5rem 0.5rem 0 0;

  background-attachment: var(--horizontal-bg-attachment);
  background-position: var(--horizontal-bg-position);
  background-image: var(--horizontal-bg-image);
}

.tab > * {
  flex: none;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.tab > * > a {
  display: block;
  text-align: center;
  padding: 0.7rem 0;
  color: var(--text-muted-color);
  border-bottom: 2px solid transparent;
  border-bottom-color: transparent;
  font-size: 0.9rem;
  /* text-transform: uppercase; */
  transition: color 0.1s ease-in-out;
  line-height: 1rem;
}

.tab > .active > a,
.tab > .active > a:hover {
  /*color:#222;*/
  color: var(--link-color);
  border-color: var(--link-color);
  border-width: 3px;
}

.tab > li > a {
  text-decoration: none;
  cursor: pointer;
}

.tab-content {
  /* padding: 0.7rem; */
  padding: 0.7rem 1.2rem 0.4rem 1.2rem;
  border: 1px solid var(--main-border-color);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: -1px;
}

.tab-content > li {
  display: none;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.tab-content > li.active {
  display: block;
}

/* The 2 following blocks can be removed if the script is not configured to show the toast message */
#jekyll-tabs-copy-to-clipboard-message {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 50%;
  bottom: 30px;
}

#jekyll-tabs-copy-to-clipboard-message.show {
  visibility: visible;
  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}
