@use '../abstracts/variables' as v;

b, strong {
  font-weight: 900;
}

code, kbd, pre {
  font-family: v.$font-family-code !important;
}
#archives .year {
  font-size: 1.25rem !important;
  font-weight: bold;
}

hr {
  border-top: 3px solid var(--main-border-color);
  border-radius: 3px;
  margin: 3em auto;
  width: 60%;
}

main {
  h1 {
    font-size: 2.44rem;
  }
  h2 {
    font-size: 1.95rem;
  }
  h3 {
    font-size: 1.56rem;
  }
  h4 {
    font-size: 1.25rem;
    font-style: italic;
  }

}

div[class="post-meta"], div.markdown-content {
  strong {
    font-weight: 900;
  }
  .table-wrapper {
    tbody tr td {
      white-space: pre-wrap;
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  img {
    border: solid 1.5px var(--btn-border-color);
    border-radius: .3rem;
  }
  a.footnote::before {
    content: "[";
  }
  a.footnote::after {
    content: "]";
  }
  a:is([href^='http'],[href^='/']):not(.Link--inTextBlock):not(:has(img)):not(.link-preview-container) {
    padding-right: 1.25em;
    // border-bottom: 1px solid var(--link-underline-color);
  }
  a:is([href^='http'],[href^='/']):not(.Link--inTextBlock):not(:has(img)):not(.link-preview-container)::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.25em;
    background-size: 100%;
    background: transparent url("../../assets/img/svg/ext-link.svg") no-repeat;
    transform: translateY(0.35em);
  }
}
// summary
details {
    position: relative;
    border: 3px solid var(--main-border-color);
    margin: 2rem 0;
    padding: 0.5rem;
    border-radius: .8rem;
    summary {
      list-style: none;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    summary::before {
      content: "";
      position: absolute;
      left: 1rem;
      background: transparent url("../../assets/img/svg/triangle-right-filled.svg") no-repeat 50% 50% / 1em 1em;
      width: 1.5em;
      height: 1.5em;
      transition: transform 0.1s linear;
    }
    summary {
      width: 100%;
      padding: .5em;
      padding-left: 35px;
      // font-size: 1.3em;
      font-weight: bold;
    }
    summary:hover {
      // color: #007bff;
    }
    summary:focus {
      outline: none;
    }
    div {
      padding-left: 1em;
    }
 }
  details[open] summary:before {
    transform: rotate(90deg);
  }

  details[open] > summary {
    // color: #007bff;
  }

  details[open] > summary ~ * {
    animation: open 1s ease;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* mermaid */
.mermaid {
  text-align: center;
  * {
    font-family: v.$font-family-base;
    // font-size: 1em !important;
  };
  tspan {
    // font-weight: bold;
  }
}

