@use '../abstracts/variables' as v;

b, strong, dt {
  font-weight: 900;
  color: var(--heading-color);
}

dt {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

code, kbd, pre {
  font-family: v.$font-family-code !important;
}
#archives {
  .year-group {
    display: flex;
  }
  .year {
    font-size: 1.5rem !important;
    font-weight: bold;
  }
}

div#post-list {
  div.series-badge {
    height: 3rem;
    aspect-ratio: 1 / 1;
    background-color: var(--card-bg);
    position: absolute;
    right: 0;
    border-radius: 50%;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      height: 5rem;
    }

    span.series-badge-index {
      font-size: 1.5rem;
      color: var(--heading-color);
      font-family: v.$font-family-heading;
      font-weight: bold;

      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }

    }
  }
}
hr {
  border-top: 3px solid var(--hr-color);
  color: var(--hr-color);
  border-radius: 3px;
  margin: 4em auto;
  width: 60%;
  border: none;
  overflow: visible;
  text-align: center;
  height: 5px;
}
hr:after {
  background: transparent;
  content: '＊   ＊   ＊   ＊   ＊';
  // padding: 0 4px;
  position: relative;
  top: -1rem;
  white-space: pre-wrap;
}

div#search-hotkey-kbd > kbd {
  background-color: inherit;
  color: var(--search-icon-color);
}

main {
  h1 {
    font-size: 2.44rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 1.95rem;
    line-height: 1.5;
    padding-top: 1rem;
  }
  h3 {
    font-size: 1.56rem;
    line-height: 1.5;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-top: 1rem;
    padding-left: 2rem;
    font-style: italic;
  }
}

.mermaid {
  border: 1.5px solid var(--img-border-color);
  border-radius: .7rem;
  margin: 1rem 0;
}

p:has(em) {
  margin-bottom: 2rem;
}

.prevent-select {
  user-select: none;
  -webkit-user-select: none;
}

div.post-meta, div.content {
  h2, h3, h4 {
    border-top: 50px solid transparent;
    margin-top: -50px;
  }
  dl {
    dd {
      margin-left: 2rem;
    }
  }
  .table-wrapper {
    table {
      margin: 0 auto;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
    tbody tr td {
      white-space: pre-wrap;
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  a.apply-border > img {
    border: solid 1.5px var(--img-border-color);
    border-radius: .7rem;
  }
  a.footnote {
    border-top: 50px solid transparent;
    margin-top: -50px;
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  .footnotes > ol > li > p {
    border-top: 50px solid transparent;
    margin-top: -50px;
  }
  ol li.series-current-page {
    font-weight: bold;
    // color: var(--link-hover-color);
  }
  ol li.series-neighbor-page {

  }
  div.extra-link {
    a:is([href^='http'],[href^='/']):not(.Link--inTextBlock, .link-preview-container):not(:has(img)) {
      &::after {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        padding-inline-start: 0.1em;
        margin-left: 0.1rem;
        background-size: 100%;
        -webkit-mask: url("../../assets/img/svg/ext-link.svg") no-repeat 50% 50%;
        mask: url("../../assets/img/svg/ext-link.svg") no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: currentColor;
        bottom: -0.18em;
        line-height: 1;
        position: relative;
      }
    }
  }
  mjx-container {
    overflow-x: scroll;
  }
}
// summary
details.expand-series {
    position: relative;
    border: 3px solid var(--details-border-color);
    margin: 2rem 0;
    padding: 0.5rem;
    border-radius: .8rem;
    summary {
      list-style: none;
    }
    summary::-webkit-details-marker {
      display: none;
    }
    summary::before {
      content: "";
      position: absolute;
      left: 1rem;
      -webkit-mask: url("../../assets/img/svg/triangle-right-filled.svg") no-repeat 50% 50%;
      mask: url("../../assets/img/svg/triangle-right-filled.svg") no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      background-color: currentColor;
      width: 1.0em;
      height: 1.0em;
      transition: transform 0.1s linear;
      margin-top: 0.4em;
    }
    summary {
      width: 100%;
      padding: .5em;
      padding-left: 35px;
      font-weight: bold;
    }
    summary:hover {
    }
    summary:focus {
      outline: none;
    }
    div {
      padding-left: 1em;
    }
 }
  details[open] summary:before {
    transform: rotate(90deg);
  }

  details[open] > summary {
  }

  details[open] > summary ~ * {
    animation: open 1s ease;
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/* mermaid */
.mermaid {
  text-align: center;
  * {
    font-family: v.$font-family-base;
  };
  tspan {
  }
}
