{% assign series_posts = site.posts | where: "series.key", include.key | reverse %}

<details class="expand-series">
  <summary>In this series</summary>
  <div class="div-expand-series">
    <ol>
      {% for post in series_posts %}
        {% if include.index == post.series.index %}
          <li class="series-current-page">{{ post.title }}</li>
        {% else %}
          <li class="series-sibling-page"><a href="{{ post.id }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ol>
  </div>
</details>
