<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    var searchKBD = document.getElementById("search-hotkey-kbd");
    var searchInput = document.getElementById("search-input");
    searchInput.addEventListener("focus", (event) => {
      searchKBD.style.display = "none";
    });
    searchInput.addEventListener("blur", (event) => {
      if (searchInput.value.length > 0) {
        searchKBD.style.display = "none";
      } else {
        searchKBD.style.display = "block";
      }
    });
    hotkeys("/", { keyup: true }, function (event, handler) {
      if (event.type === "keyup") {
        searchInput.focus();
      }
    });
    hotkeys.filter = function (event) {
      var tagName = (event.target || event.srcElement).tagName;
      hotkeys.setScope(/^(INPUT)$/.test(tagName) ? "input" : "other");
      return true;
    };
    hotkeys(
      "Escape",
      { keyup: true, element: searchInput },
      function (event, handler) {
        if (event.type === "keyup") {
          searchInput.blur();
        }
      },
    );
  });
</script>
